{% extends "base.html" %}

{% block title %}
    Домашняя страница
{% endblock %}

{% block content %}
    <div class="" style="display: flex">
    {% if user.is_authenticated %}
        <form action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="px-4 py-2 font-semibold text-sm bg-sky-500 text-white rounded-none shadow-sm">Выйти из аккаунта</button>
        </form>
    {% else %}
        <a href="{% url 'users:login' %}" class="btn btn-primary">Войти</a>
        <a href="{% url 'users:signup' %}" class="btn btn-primary ">Зарегистрироваться</a>
    {% endif %}
    </div>
{% endblock %}